* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms {
    display: flex;
    flex-direction: row;
}

input, span {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background: #4a90e2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

button:hover {
    background: #357ABD;
}

.existsUser, .newUser, .updatedDetails {
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    width: 320px;
    text-align: center;
}
u{
    color: blue;
}
.newUser{
    display: none;
}

.msg{
    display: block;
}
